<div style="background-color: #f0f0f0">
	<h1 style="font-size: 42pt; font-family: Georgia; color: darkblue"><%= @greeting %></h1>

	<div style="font-size: 24pt; font-family: Georgia; color: darkblue">
		You're dumb.
	</div>

	<div style="font-size: 20pt; font-family: Georgia; color: darkblue">
		Brooke
	</div>
</div>